
  {{#each this}}
<div class="comment-container">
    <div class="comment-img">
      <p>{{user.username}}</p>
        <img src="{{user.profile_pic}}">
      
        
    </div>
    <div class="comment-name">
       
    </div>
    <div class="comment-content">
        <p> {{context}}</p>
    </div>
</div>
  {{/each}}
