<section>
  
  <h1>{{user.username}}'s Profile</h1>
  <center>
    <div class="profile-img">
      <img class="user-img" src="../images/{{user.filename}}" alt="{{user.username}} profile image">
    </div>
  </center>
</section>

{{#if posts.length}}
<section class="your-posts">
  <h2>Your Posts</h2>
  
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> user-post post}}
      
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

