@media screen
and (min-height: 480px)
and (max-width: 1024px) {

  /* button#sidebar-btn, button#profile-page-btn, button#new-rant-btn {
    display: flex;
    position: fixed;
    left: 0;
    width: 32px;
  }

  button#sidebar-btn {
    top: 80px;
    z-index: 2;
  }
  
  button#profile-page-btn {
    top: 80px;
    z-index: 1;
  }
  
  button#new-rant-btn {
    display: none;
    top: 104px;
  } */

  #sidebar button {
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
  }

  button#sidebar-btn a {
    position: relative;
    bottom: 1px;
  }

  button#profile-btn a {
    position: relative;
    bottom: 4px;
    font-size: x-large;
    font-weight: bold;
  }

  button#new-rant-btn p {
    font-size: xx-large;
  }

  .sidebar-btn-show {
    display: flex;
    position: fixed;
    left: -2px;
    top: 49px;
    z-index: 1;
  }

  .new-rant-btn-show {
    display: flex;
    position: fixed;
    left: -2px;
    top: 77px;
  }

  .dashboard-show {
    display: flex;
    justify-content: center;
  }

  .profile-show {
    display: inline-block;
    text-align: center;
    width: 30%;
  }

  .new-post-show {
    display: initial;
  }
  
  .hide {
    display: none;
  }
  
  
} 