@media screen 
and (max-width: 480px),
(orientation: landscape) {
  a {
    font-size: medium;
  }

  button#logout {
    font-size: larger;
  }

  body, html {
    font-size: x-small;
  }

  main a {
    font-size: x-small;
  }

  section#dashboard {
    display: flex;
    justify-content: space-between;
  }

  #profile {
    display: inline-block;
    text-align: center;
    width: 30%;
  }

  #new-post {
    width: 60%;
  }

  h3 {
    font-weight: normal;
  }
}