@media screen 
and (max-width: 480px),
(max-height: 480px) and (orientation: landscape) {
  a {
    font-size: medium;
  }

  button#logout {
    font-size: larger;
    position: relative;
    bottom: 1px;
  }

  body, html {
    font-size: x-small;
  }

  main a {
    font-size: x-small;
  }

  #sidebar button {
    display: none;
  }

  /* button#profile-btn {
    display: none;
  }

  button#new-rant-btn {
    display: none;
  } */

  section#dashboard {
    display: flex;
    justify-content: space-between;
  }

  #profile {
    display: inline-block;
    text-align: center;
    width: 30%;
  }

  #new-post {
    width: 60%;
  }

  h3 {
    font-weight: normal;
  }
}