* {
    box-sizing: border-box;
  }
  
  body, html {
    background-image: url('../images/samurai_jack_scene_by_livingalivecreator_ddzz6vy-pre.jpeg');
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: fantasy;
    color: #333;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color .1s;
    font-size: 3rem;
    text-shadow: 0.2rem 0.2rem 0.4rem rgb(160, 158, 158);
  }
  
  a:hover {
    color: rgb(160, 158, 158);
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  nav a {
    padding: 0.55rem 0.55rem 0.55rem 0.55rem;
  }

  h3 {
    color:black;
  }
  
  button {
    background-color: #000000;
    border: 3;
    border-color: rgb(155, 26, 26);
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 3px;
    font-family: fantasy;
  }
  
  button:hover {
    background-color: rgb(155, 26, 26);
  }

  .form-body {
    font-family: fantasy;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: -14rem;
  }

  .login-form, .signup-form {
    text-shadow: 0rem 0rem 0.1rem rgb(250, 249, 249);
    color:  black;
    font-weight: bolder;
    font-size: 1.15rem;
  }
  
  .post-list {
    background-image: url('public/images/landscape-nature-water-fantasy-city-wallpaper-preview.jpeg');
    margin: 0;
    padding: 0;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    background-image: linear-gradient(rgb(75, 11, 11), rgb(94, 4, 4), rgb(155, 26, 26));
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }
  
  header h1 {
    font-size: 1em;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
    text-shadow: 0.1rem 0.1rem 0.2rem rgb(160, 158, 158);
  }
  
  .btn-no-style:hover {
    background: none;
    color: rgb(160, 158, 158);
  }
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .upvote-btn {
    background-color: #197d0f;
    transition: background-color .1s;
  }
  
  .upvote-btn:hover {
    background-color: #1f9c13;
  }
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }

  .meta a {
    font-size: 2rem;
  }

  .your-posts, .new-post-form {
    color: black;
    font-size: larger;
    text-shadow: 0.1rem 0.1rem 0.1rem 0.2rem rgb(155, 26, 26);
  }
  
  .new-post-form input {
    width: 300px;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }
  
  footer {
    color: black;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 150%;
    background-image: linear-gradient(rgb(155, 26, 26), rgb(94, 4, 4), rgb(75, 11, 11));
    text-shadow: 0.1rem 0.1rem 0.2rem rgb(160, 158, 158);
  }
  .profile-img{
    align-content: center;
  }
  .user-img {
    width:300px;
    
  }

  .post-profile-img {
    width:100px;
    flex-wrap: wrap;
    display: flex;
  }

  .image-wrapper {
    overflow: hidden;
    border-radius: 50%;
    Width: 100px;
    height: 100px;
    vertical-align: middle;
  }
  .user-stuff{
    color:#f90000;
    border:2px solid #f90000;
    text-align: center;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
  }
  .dashboard-header{
    color:#000000;
  }
  .title {
    border-bottom: 6px solid white;
  }
  .logout{
    
    font-size: 48px;
  }