* {
  box-sizing: border-box;
}
  
body, html {
  background: no-repeat center fixed url('../images/samurai_jack_scene_by_livingalivecreator_ddzz6vy-pre.jpeg');
  background-size: cover;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: fantasy;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  background-image: linear-gradient(rgb(75, 11, 11), rgb(94, 4, 4), rgb(155, 26, 26));
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 1px 0;
  position: sticky;
  top: 0;
  z-index: 2;
}

h1 {
  margin: 0;
}

h1 a:hover, button#logout:hover {
  background: none;
  color: #804343;
}

nav {
  display: flex;
  flex-wrap: wrap;
  margin: 2px;
}

header nav a {
  color: black;
  text-shadow: 1px 1px 2px rgb(160 158 158);
  padding-right: 6px;
}

nav a:hover {
  color: #3d1d1d;
}

#logout {
  background: none;
  border: none;
  cursor: pointer;
  transition: color .1s;
}
a {
  color: white;
  font-size: small;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgb(0 0 0);
  transition: color .1s;
}

h1 a, button#logout, a.post, h1#dashboard {
  color: white;
  text-shadow: 2px 2px 4px rgb(0 0 0);
  font-size: large;
  font-weight: normal;
  margin: 3px 2px 0;
}

h1 a, nav a, #logout {
  padding: 4px 4px;
}

main {
  flex: 1;
  padding: 1% 4% 2%;
}

h2 {
  color: white;
  text-shadow: 2px 2px 4px black;
  font-size: inherit;
  font-weight: initial;
}

.image-wrapper {
  overflow: hidden;
  border-radius: 50%;
  Width: 60px;
  height: 60px;
  vertical-align: middle;
  display: inline;
  background: radial-gradient(ellipse at right, transparent 46%, #804343 78%), radial-gradient(circle at top right, transparent 64%, #541c1c 126%);
  padding: 2px;
  border: double #3d1d1d;
  border-right-width: thin;
  border-top-width: thin;
}

.post-profile-img {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  width: 48px;
  padding-left: 4px;
}

#dashboard h1 {
  font-weight: normal;
  text-shadow: 1px 1px 2px rgb(160 158 158);
  margin-top: 4px;
}

#new-post {
  width: 60%;
}

form label {
  display: block;
}

.new-post-form, .your-posts {
  font-size: larger;
  text-shadow: 1px 1px 2px white, 2px 2px 4px #541c1c;
}

.new-post-form input {
  width: 100%;
}

button {
  background-color: #000000;
  border-color: rgb(155, 26, 26);
  color: white;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 3px;
  font-family: fantasy;
}

button:hover {
  background-color: #3d1d1d;
}

ol {
  list-style-type: none;
  padding: 0 20px;
}

li {
  display: grid;
  grid-template-columns: 80%;
  border-bottom: 2px solid rgb(255 255 255 / 66%);
  margin-bottom: 22px;
}

li a {
  font-style: oblique;
}

.post {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
}

.title {
  display: grid;
  grid-template-columns: 46px;
  grid-template-rows: 0px;
}

h3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  width: 100%;
  height: max-content;
  margin: 4px 0 6px;
  padding: 4px 0 5px 49px;
  justify-self: end;
  background: radial-gradient(circle at left, transparent 9%, rgb(84 28 28 / 68%) 12%, rgb(94 47 47 / 66%) 96%);
  color: white;
  text-shadow: 2px 2px 2px rgb(0 0 0);
  font-weight: normal;
  text-transform: uppercase;
}

.post .image-wrapper {
  Width: 40px;
  height: 40px;
  margin: 0 0 10px 2px;
  position: relative;
  bottom: 2px;
}

.post .post-profile-img {
  width: 40px;
  padding: 0;
}

.meta {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  background-color: rgb(94 47 47 / 48%);
  padding: 1px 3px 2px;
}

.edit-link {
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: end;
  align-self: end;
  position: relative;
  bottom: 3px;
  right: 3px;
}

li a:hover {
  color: black;
  text-shadow: 1px 1px 3px #541c1c;
  font-style: inherit;
  font-weight: lighter;
}

/* add comments to posts */
.comment-page {
  display: inline;
}

.comment-page a {
  margin: 12px 0 28px;
  font-size: larger;
  display: flex;
  background: rgb(94 47 47 / 76%);
  padding: 5px 8px;
}

.post span {
  display: none;
}

.meta {
  padding: 4px 6px 5px;
  text-shadow: 2px 1px 2px rgb(255 255 255 / 42%), 1px 1px 4px rgb(94 47 47 / 76%);
}

.meta a {
  padding: 5px;
}

form > div {
  margin-bottom: 2%;
}

form.comment-form {
  display: flex;
}

.comment-form {
  margin: 22px 0 12px;
  margin-inline: auto;
  width: 36%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.comment-form div {
  text-align: right;
  width: 100%;
}

.column-view {
  display: inline-grid;
}

#comment-input {
  margin-bottom: 18px;
  background: #fff5ebcc;
  border-radius: 3px;
  display: flex;
  width: 100%;
}

textarea, input {
  padding: .5%;
  border-radius: 3px;
}

textarea {
  padding: 4px 6px;
  min-width: 100%;
  min-height: 100px;
  background-color: #3d1d1d99;
  color: white;
  border: 1px solid;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #541c1c;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: rgb(255 245 235 / 80%);
}

.comment .meta {
  margin-bottom: .5%;
  color: #3d1d1d;
  text-shadow: 0px 0px 1px rgb(0 0 0 / 62%), 1px 1px 3px #fff5ebcc;
  font-size: 90%;
  opacity: .6;
}

.comment div.text {
  padding: 4px 0 2px 2px;
  text-shadow: 1px 1px 2px #5e2f2fc2;
}

/* edit posts */
.edit-page {
  display: inline-grid;
}

a#dashboard-btn {
  font-size: larger;
  color: black;
  text-shadow: 1px 1px 2px white, 2px 2px 4px #804343;
}

.edit-post-form {
  margin: 2% 0 5%;
}

.delete-post-btn {
  background-color: #af0b0b;
}

.delete-post-btn:hover {
  background-color: #e34848;
}

footer {
  color: black;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 9px 12px 12px;
  font-size: 150%;
  background-image: linear-gradient(rgb(155, 26, 26), rgb(94, 4, 4), rgb(75, 11, 11));
  text-shadow: 1px 1px 4px rgb(160 158 158);
}

/* login page */
.form-body {
  font-family: fantasy;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: -14rem;
}

.login-form, .signup-form {
  text-shadow: 0rem 0rem 0.1rem rgb(250, 249, 249);
  color:  black;
  font-weight: bolder;
  font-size: 1.15rem;
}

.post-list {
  background-image: url('public/images/landscape-nature-water-fantasy-city-wallpaper-preview.jpeg');
  margin: 0;
  padding: 0;
}