@media screen
and (max-width: 768px) and (orientation: portrait),
/* TODO enhance landscape tablet query */
(max-height: 768px) and (orientation: landscape) {
  a, button {
    font-size: medium;
    color: white;
  }
  
  header {
    padding: 4px 4px 5px;
  }

  h1 a {
    font-size: xx-large;
  }

  nav a {
    font-size: x-large;
    margin: 0px 4px;
  }

  button#logout {
    font-size: large;
  }

  /* section#dashboard {
    display: flex;
    justify-content: space-between;
  } */

  #dashboard h2 {
    font-size: larger;
  }

  .post-profile-img {
    padding-left: 8px;
    width: 66px;
  }

  div.meta {
    font-size: inherit;
    padding: 1px 6px 3px;
  }

  /* li a {
    font-size: inherit;
  } */

  .edit-link {
    bottom: 4px;
    right: 8px;
  }
}