<center>
<div class="center">
    <h1>Login</h1>
    <form method="post">
<div class="text">
    <input type="text" class="username-login">
    <label for="username-login">Username</label>
    <span></span>
</div>
<div class="text">
    <input type="password" class="password-login" id="passLog">
    <label for="passLog">Password</label>
    <span></span>
</div>
<button type="submit" class="login-form-btn">Login</button>
<div class="pass"></div>

<div class="sign-up">
    No account?     <a href="/signup">SignUp</a>
</div>
    </form>
</div>
</center>
<script src="/javascript/login.js"></script>