<center>
<div class="center">
            <h1>Sign Up</h1>
            <form method="post">
                <div class="text">
                    <input type="text" class="email-signup">
                    <label>Email</label>
                    <span></span>
                </div>
        <div class="text">
            <input type="text" class="username-signup">
            <label>Username</label>
            <span></span>
        </div>
        <div class="text">
            <input type="password" class="password-signup">
            <label>Password</label>
            <span></span>
        </div>
        <button type="submit" class="signup-form-btn">Sign Up</button>
        <div class="pass"></div>
        
        <div class="sign-up">
            Already have an account?     <a href="/login">Login</a>
        </div>
            </form>
        </div>
        </center>
<script src="/javascript/signup.js"></script>

